.b{
    width: 500px;
    height: 600px;
    position: relative;
    left: 500px;
    top: 100px;
}
html{
    background-image: linear-gradient(to bottom,#F5EBFA,#49225B );
    height: 100%;
}

.jedan{
    width: 300px;
    height: 100px;
    background-color: #49225B;
    position: absolute;
    left: 300px;
    top: 120px;
    border-radius: 100px;
    box-shadow: 7px 13px 55px 0px rgba(0,0,0,0.75);
}
.dva{
    width: 300px;
    height: 100px;
    background-color: #6E3482;
    position: absolute;
    left: 300px;
    top: 180px;
    border-radius: 100px;
    box-shadow: 7px 13px 55px 0px rgba(0,0,0,0.75);
}
.tri{
    width: 300px;
    height: 100px;
    background-color: #A56ABD;
    position: absolute;
    left: 300px;
    top: 240px;
    border-radius: 100px;
    box-shadow: 7px 13px 55px 0px rgba(0,0,0,0.75);
}
.cetiri{
    width: 300px;
    height: 100px;
    background-color: #E7DBEF;
    position: absolute;
    left: 300px;
    top: 300px;
    border-radius: 100px;
    box-shadow: 7px 13px 55px 0px rgba(0,0,0,0.75);
}
.pet{
    width: 300px;
    height: 100px;
    background-color: #F5EBFA;
    position: absolute;
    left: 300px;
    top: 360px;
    border-radius: 100px;
    box-shadow: 7px 13px 55px 0px rgba(0,0,0,0.75);
}

p{
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 40px;
    
}

.p1{color: #F5EBFA;}
.p2{color: #E7DBEF;}
.p3{color: #E7DBEF;}
.p4{color: #6E3482;}
.p5{color: #49225B;}
